.ContNav{
  /* background-image: url('./atardecer.jpg'); */
}

.Hnav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20%;
  background: -webkit-linear-gradient(to right, #005aa7, #fffde4);
  /*Chrome10-25,Safari5.1-6*/background: linear-gradient(to right, #005aa7, #fffde4);
  border-radius: 1.5rem;
  margin:2px 2px;
  padding: -10px;
  text-decoration: none;

}
.ContLogo{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.ControlLink{
  border: none;
  text-decoration: none;
}

.Logo{
  padding: 45pX;
  background-image: url('./logoClima.png');
  margin:5px 10px;
  text-decoration: none;

}

.Nombre{
  font-family: 'Comforter', cursive;
  color: lightgreen;
  font-size: 90px;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 6px;
  height: 50%;
  text-decoration:none;
}

.Nombre:hover{
  border: none;
  color: black;
  text-decoration:none;
}